/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
  */
 //@import "require_self";
 //@import "require_tree";

@import "foundation";
.orbit-container {
  background: none repeat scroll 0 0 #F5F5F5;
  margin-left: 16.5%;
  margin-right: 16.5%;
  overflow: hidden;
  position: relative;
  width: 67%;
}
.orbit-bullets {
  margin: 0 16% 30px;
  overflow: hidden;
  position: relative;
  text-align: center;
  top: 10px;
}
.orbit-bullets li.active {
  background: none repeat scroll 0 0 #2388A6;
}
.width60 {
  width: 60%;
}
.width40 {
  width: 40%;
}
.margin-top8px{
  margin-top: -8px;
}

