
<div class="row">
    <div class="large-9 push-3 columns">
        <div class="row">
          <!-- Main Page Content and Sidebar -->
          <div class="row">
            <!-- Main Blog Content -->
            <div class="large columns" role="content">

              <article>

                <h3><a href="#">Blog Post Title</a></h3>
                <h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>

                <div class="row">
                  <div class="large-6 columns">
                    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
                    <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
                  </div>
                  <div class="large-6 columns">
                    <img src="http://placehold.it/400x240&text=[img]" />
                  </div>
                </div>

                <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

                <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

              </article>

              <hr />

              <article>

                <h3><a href="#">Blog Post Title</a></h3>
                <h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>

                <div class="row">
                  <div class="large-6 columns">
                    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
                    <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
                  </div>
                  <div class="large-6 columns">
                    <img src="http://placehold.it/400x240&text=[img]" />
                  </div>
                </div>

                <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

                <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

              </article>

            </div>
            <!-- End Main Content -->
          </div>
          <!-- End Main Content and Sidebar -->
        </div>
    </div>
    <div class="large-3 pull-9 columns">
      <div class="docs section-container accordion" data-section="" data-options="one_up: false" style="">
        <section class="section active">
          <p class="title" style="left: 0px;"><a href="#">Using Foundation</a></p>
          <div class="content" style="">
            <ul class="side-nav">
              <li><a href="../">Get Started</a></li>
              <li><a href="../javascript.html">Javascript</a></li>
              <li><a href="../sass.html">Sass</a></li>
              <li><a href="../rails.html">Rails</a></li>
              <li><a href="../media-queries.html">Media Queries</a></li>
              <li><a class="" href="visibility.html">Visibility Classes</a></li>
              <li><a href="../rtl.html">Right-to-Left Support</a></li>
            </ul>
          </div>
        </section>
        <section class="section ">
          <p class="title" style="left: 248px;"><a href="#">Grid</a></p>
          <div class="content" style="">
            <ul class="side-nav">
              <li><a class="" href="grid.html">Grid</a></li>
              <li><a class="" href="block-grid.html">Block Grid</a></li>
            </ul>
          </div>
        </section>
        <section class="section ">
          <p class="title" style="left: 496px;"><a href="#">Navigation</a></p>
          <div class="content" style="">
            <ul class="side-nav">
              <li><a class="" href="pagination.html">Pagination</a></li>
              <li><a class="" href="side-nav.html">Side Nav</a></li>
              <li><a class="" href="sub-nav.html">Sub Nav</a></li>
              <li><a class="" href="top-bar.html">Top Bar</a></li>
              <li><a class="" href="breadcrumbs.html">Breadcrumbs</a></li>
            </ul>
          </div>
        </section>
        <section class="section ">
          <p class="title" style="left: 744px;"><a href="#">Buttons</a></p>
          <div class="content" style="">
            <ul class="side-nav">
              <li><a class="" href="buttons.html">Buttons</a></li>
              <li><a class="" href="button-groups.html">Button Groups</a></li>
              <li><a class="" href="dropdown-buttons.html">Dropdown Buttons</a></li>
              <li><a class="" href="split-buttons.html">Split Buttons</a></li>
            </ul>
          </div>
        </section>
        <section class="section ">
          <p class="title" style="left: 992px;"><a href="#">Forms</a></p>
          <div class="content" style="">
            <ul class="side-nav">
              <li><a class="" href="forms.html">Forms</a></li>
              <li><a class="" href="custom-forms.html">Custom Forms</a></li>
              <li><a class="" href="switch.html">Switch</a></li>
            </ul>
          </div>
        </section>
        <section class="section ">
          <p class="title" style="left: 1240px;"><a href="#">Typography</a></p>
          <div class="content" style="">
            <ul class="side-nav">
              <li><a class="" href="type.html">Type</a></li>
              <li><a class="" href="inline-lists.html">Inline Lists</a></li>
              <li><a class="" href="labels.html">Labels</a></li>
              <li><a class="" href="keystrokes.html">Keystrokes</a></li>
            </ul>
          </div>
        </section>
        <section class="section ">
          <p class="title" style="left: 1488px;"><a href="#">CSS Components</a></p>
          <div class="content" style="">
            <ul class="side-nav">
              <li><a class="" href="global.html">Global Styles</a></li>
              <li><a class="" href="alert-boxes.html">Alert Boxes</a></li>
              <li><a class="" href="panels.html">Panels</a></li>
              <li><a class="" href="pricing-tables.html">Pricing Tables</a></li>
              <li><a class="" href="progress-bars.html">Progress Bars</a></li>
              <li><a class="" href="tables.html">Tables</a></li>
              <li><a class="" href="thumbnails.html">Thumbnails</a></li>
              <li><a class="" href="flex-video.html">Flex Video</a></li>
              <li class="divider"></li>
              <li><a target="_blank" style="font-style: italic" class="" href="kitchen-sink.html">Kitchen Sink</a></li>
            </ul>
          </div>
        </section>
        <section class="section" style="padding-top: 49px;">
          <p class="title" style="left: 1736px;"><a href="#">Javascript</a></p>
          <div class="content" style="">
            <ul class="side-nav">
              <li><a class="" href="clearing.html">Clearing</a></li>
              <li><a class="" href="dropdown.html">Dropdown</a></li>
              <li><a class="" href="interchange.html">Interchange</a></li>
              <li><a class="" href="joyride.html">Joyride</a></li>
              <li><a class="" href="magellan.html">Magellan</a></li>
              <li><a class="" href="orbit.html">Orbit</a></li>
              <li><a class="" href="reveal.html">Reveal</a></li>
              <li><a class="active" href="section.html">Section</a></li>
              <li><a class="" href="tooltips.html">Tooltips</a></li>
            </ul>
          </div>
        </section>
        <section class="section ">
          <p class="title" style="left: 1984px;"><a href="../faq.html">FAQ</a></p>
        </section>
        <section class="section ">
          <p class="title" style="left: 2232px;"><a href="../support.html">Support</a></p>
        </section>
      </div>

      <p>
        <%= link_to "Contact Us", {:controller => "contactus",:action => "index"}, :class => "button expand" %>
      </p>

    </div>
</div>